name: Publish
on:
  release:
    types:
      - released
  workflow_dispatch:

jobs:
  build:
    uses: srnyx/tools/.github/workflows/publish.yml@main
    with:
      modrinth: PMWx2eoO
      curseforge: 1289091
    secrets: inherit
    permissions:
      contents: write
